# Dependencies
node_modules/

# Build outputs
dist/
build/

# macOS system files
.DS_Store

# Electron specific
*.log
*.log.*
.electron-builder.yaml

# Local env files
.env
.env.local

# IDE files
.vscode/
.idea/